/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
/* #543b37 #db9c85 #e56d84 #e73b68 #feebed */

body {
background-color: #DB9C85;
color: #543b37;
font-family: 'Merienda', cursive;
}